{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bienvenidos al sitio de la Tienda</h1>
        <p class="col-md-8 fs-4 lead">Ya puedes empezar a ingresar Productos</p>
        <hr class="my-2">

        <a
            name=""
            id=""
            class="btn btn-secondary btn-lg "
            href="{% url 'productos'%}"
            role="button"
            >Empezar Ahora</a
        >
        
    </div>
</div>


{% endblock %}


